@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald|Shadows+Into+Light');
body {
	background: #EEEEEE;
	margin: 0 auto;
	padding: 0;
}
.shopCategory {
	width: 80%;
	height:70px;
	margin: 0 auto;
	padding: 0;
	text-align:center;
	font-family: 'Raleway';
	margin-top: 60px;
	float: left;
}
.logo {
	width: 10%;
	height: 60px;
	float: left;
	margin: 0px -50px 0px 40px;
}
.shopNavBar {
	width: 100%;
 	height: 60px;
  	font-size: 20px;
	margin: 0 auto;
	padding: 0;
	top:0;
	left: 0;
	position: fixed;
	color: #EEEEEE;
	background:#212121 ;
	text-align: center;
	transition: 0.1s;
	z-index: 10;
	}
.shopNavBar ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.shopNavBar ul li {
	display: inline-block;
	padding: 10px 20px;
	margin: 0 auto;
}

.shopNavBar ul li a {
margin: 0 auto;
text-decoration: none;
color: #EEEEEE;
font-size: 24px;
font-family: 'Oswald', sans-serif;
}
.fixed {
	transition: 0.3s;
	color: #EEEEEE;
	background:#212121 ;
	top: 0;
	left: 0;
	position: fixed;
}
.sidebar {
	width: 200px;
	float: left;
	height: 800px;
	font-size: 20px;
	color: #EEEEEE;
	font-family: 'Raleway', sans-serif;	
	background:#212121;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	cursor: pointer;
	}
.sidebar h2{
	font-size:20px;
}
.sidebar h4 {
	font-size: 15px;
}
.filterContainer {
	margin-top: 140px;
}
.sidebar h4:active {
	color: red;
	/*transition: 1s;*/
}
.sidebar h4:hover {
	color: #e45350;
	transition: 0.4s;
}
.sidebar label {
	margin-left: 70px;
	transition: 0.4s;
	margin-top: 10px;
}

.sidebar label:hover {
	color: #f39c12;
	transition: 0.4s;
}
.rightMainContent {
	width: 80%;
	float: right;	
}
.description {
padding: 10px;
}
.item {
		width: 20%;
		height: 400px;
		float: left;
		text-align: center !important;
		background:#F5F5F5;
		margin-left: 20px;
		margin-bottom: 10px;
		border : 1px solid #E0E0E0;
		overflow: hidden;
		}
		.item img {
			width: 90%;
			height: 250px;
			padding: 10px;
			transition: all 0.5s;
			}
			.item img:hover {
			-moz-transform: scale(1.3);
  			-webkit-transform: scale(1.);
  			transform: scale(1.3);
			}
		.description {
			width: 100%;
		}
		.description h1{
			color: black;
			font-size: 22px;
			font-family: 'Oswald';
			width: 100%;
			text-align: center;
			padding: 0;
		}
		.description h3 {
			font-family: 'Raleway';
			padding: 0 ;
			font-size: 13px;
			margin: 0 auto;
			width: 100%;
		}

#colorsDrop {
	width: 40%;
	margin: 0 auto;
}
.colorpicker{
	width: 20px;
	height: 20px;
	border-radius: 100px;
	background-color: inherit;
	float: left;
	margin-left:  15px;
	margin-top: 10px;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.1);
}
.removeFilters {
	color: #e45350;
}
.cart {
	margin: 0 auto;
	top: 0;
	right: 0;
	position: fixed;
	padding: 10px;
	width: 50px;
}
.cart i{
	color: #fff;
	float: right;
	font-size: 25px;
	cursor: pointer;
	float: left;
}
.cart sup {
	font-family: 'Raleway', sans-serif;	
	font-size: 17px;
	color: #e45350;
	border-radius: 100%;
	padding: 2px;
	}
.addToCart {
	background:#F5F5F5;
	font-family: 'Raleway';	
	color: #e45350;
	font-size: 25px;
	cursor: pointer;
	width: 100%;
	overflow: hidden;
}
.addToCart i {
	cursor: pointer;
	margin-top: -22px;
}
.cart-item {
		font-family: 'Raleway';
		text-align: right;
		font-size: 7px;
		padding: 5px 10px;
		}
.cartContainer {
	position: fixed;
	top: 0;
	right: 0;
	width: 30%;
	height: 400px;
	background:#F5F5F5;
	border-radius: 0px 0px 0px 500px ;
	z-index: 100;
	margin-top: 60px;
	text-align:right;
}

		.cartContainer button {
			font-family: 'Raleway';
			background: rgba(255,255,255,0.5);
			padding: 5px 10px;
		}