@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
/*Universal Css Styles*/
body {
	margin: 0 auto;
	padding: 0;
	background: #ecf0f1;
	width: 100%;
}
						/*Navigation Bar*/
.bigNav {
	height: 100px;
	padding: 0;
	text-align: center;
	transition:0.5s;
	bottom: 0; 
	position: absolute;
	width: 100%;
}
.bigNav ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.bigNav ul li {
	display: inline-block;
	padding: 30px;
	margin: 0 auto;
}
.bigNav ul li a {
margin: 0 auto;
text-decoration: none;
color: #fff;
font-size: 28px;
font-family: 'Oswald', sans-serif;
}
.bigNav img {
	width: 10%;
	height: 60px;
	float: left;
	margin-right: -70px;
}
/*Mega Menu Styles*/
.megaMenu {
	width: 100%;
	height: 400px;
	float: left;
	background: rgba(0,0,0,0.8);
}
.leftFixed {
	width: 30%;
	float: left;
}
.leftFixed ul {
	list-style: none;
	text-align: center;
}
.leftFixed ul li {
	font-size: 52px;
	font-family: 'Josefin Sans', sans-serif;
	display: block;
	margin-top: 80px;
}
.leftFixed ul li a {
	color: #fff;
	
}
.rightFixed {
	width: 70%;
	float: right;	
	margin-top: 30px;
}
/*On Hover Shop Styles*/
.menDynamic div {
	width: 30%;
	height: 300px;
	float: left;
	margin-left: 20px;
	margin-top: 40px; 
}

.womenDynamic div {
	width: 30%;
	height: 300px;
	float: left;
	margin-left: 20px;
	margin-top: 40px;
}
.rightFixed p{
	font-family: 'Oswald';
	text-align: center;
	margin-top: 100px;
	display: block;
	background: rgba(0,0,0,0.8);
	font-size: 30px;
}
.rightFixed a {
	text-decoration: none;
	color: #fff;
	
}
.menPurfume {
	background: url("../img/menPurfume.jpg");
	background-size: contain;
}
.menClothes {
	background: url("../img/menClothes.jpg");
	background-size: contain;	
}
.menShoes {
	background: url("../img/menShoes.jpg");
	background-size: contain;	
}
.womenPurfume {
	background: url("../img/womenPurfume.jpg");
	background-size: contain;
}
.womenClothes {
	background: url("../img/womenClothes.jpg");
	background-size: cover;	
}
.womenShoes {
	background: url("../img/womenShoes.jpg");
	background-size: cover;	
}
.mobileNav img{
	width: 30%;
	height: 60px;
	float: none;
	margin: 0 auto;
	}
#ham {
	float: left;
	color: #fff;
	margin:20px 20px;
	margin-right: 0px !important;
	cursor: pointer;
}
#close {
	float: left;
	color: #fff;
	margin:20px 20px;
	margin-right: 0px !important;
	cursor: pointer;
}
.slideInMenu {
	 position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    min-width: 100%;
    min-height: 100%;
    background: red;
  }
.slideInMenu ul {
	padding: 0;
	list-style: none;
	text-align: center;
	margin-top: 40%;
}
.slideInMenu ul li {
	padding-bottom: 30px;
	}

.slideInMenu ul li a {
margin: 0 auto;
text-decoration: none;
color: #fff;
font-size: 28px;
font-family: 'Oswald', sans-serif;
}
.fixed-header {
  position: fixed;
  top:0; left:0;
  z-index: 1000;
  width: 100%; 
  height: 60px;
  font-size: 20px;
  background:rgba(44,44,44,0.8);
}
.fixed-header ul {
	margin-left: -25px;
}
.fixed-header ul li {
	padding: 15px;
	float: none;
	font-size: 22px;
}
.fixed-header ul li a {
		font-size: 22px;
}

					/*Universal Footer*/
.footer{
	background: #2c2c2c;
	width: 100%;
	height: 300px;
	margin: 0 auto;
	float: left;
	padding: 0;
}
.leftFooterLinks {
	width: 40%;
	height: 200px;
	float: left;
}
.leftFooterLinks ul {
 list-style: none;
 margin: 0 auto;
 padding: 15px 30px;
 float: left;
}
.leftFooterLinks ul li {
	padding: 10px 30px;
}

.leftFooterLinks ul li:hover {
	color:red;
}
.leftFooterLinks a {
	text-decoration: none;
	color: #E5F0C5;
	font-family: 'Oswald';
}
.rightFooterLinks {
	width: 60%;
	height: 200px;
	/*background: url('../img/banner.gif');	*/
	background-size: 800px 200px;
	float: right;
}
.rightFooterLinks img {
	width: 800px;
	height: 200px;
}
.footerTagLines{
	float: left;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	margin: 0 auto;
	color: #fff;
	height: 100px;
	width: 100%;
}
.footerTagLines p {
	padding: 20px;
}



/*Home Page Styles*/
.mainBanner {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 620px;
	background-size: cover;
	color: #fff;
	text-align: center;
	margin-bottom: -19px;
}
.mainBanner video {
   position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%); 
}
.mainBanner img{
padding: 15% 15% 0% 15%;
}
.mainBanner i {
	display: block;
	padding: 0;
	font-size: 20px;
}
.mainBanner a {
	color: #fff;
	text-decoration: none;
}
#fragnance {
	background: url('../img/perfume.jpg');
	/*background-size: 500px 300px;*/
	background-position: left;
}
#clothes {
	background: url('../img/clothes.jpeg');
	/*background-size: 500px 300px;*/
	background-position: left;	
}
.items {
	width: 33%;
	height: 300px;
	float: left;
	background-size: contain;
}
.items h1 {
	color: #FFF;
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	padding: 30%;	
}
/*Coco Chanel Quote*/
.container {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	text-align: center;
	float: left;
	margin-top: 100px;
	background: url('../img/chanel1.jpg');
	background-size: cover;
	background-attachment: fixed !important;
	}
.ad {
	margin-top: 0px;
	background: url('../img/chanel5.jpg');
	}
.ad2 {
	margin-top: 0px;
	background: url('../img/chanel2.jpg');
}
.ad3 {
margin-top: 0px;
background: url('../img/chanel3.jpg');
}
.ad4 {
margin-top: 0px;
background: url('../img/chanel4.jpg');	
}
.floater {
	width: 30%;
	height: 300px;
	background: rgba(255,255,255,0.4);
	margin-top: 100px;
}

.floatRight 
{
	float: right;
	margin-right: 100px;
}
.floatLeft {
	float: left;
	margin-left: 100px;
}
.floatLeft h1{
	color: #2c2c2c !important;
}
.floater a {
	text-decoration: none;
}
.floater h1 {
	padding: 40px;
	font-family: 'Oswald';
	color: #4c4c4c;
}
.floater h2 {
	color: gold;
	cursor: pointer;
}
.overlay {
	margin: 0 auto;
	width: 30%;
	height: 400px;
	padding: 0;
	background:rgba(31,27,54,0.3);
	border-radius: 100%;
}
.showcase {
	list-style: none;
	margin-top: 100px;
	line-height: 1.5;
}
.showcase li{
text-align: left;
}
.showcase li a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	font-size: 32px;
	color: white;
}
.overlay h1{
	padding: 20%;
	color: #fff;
}
/*Responsive Code Starts Here*/
@media screen and (max-width: 480px) {
body {
width: 100%;
margin: 0 auto;
padding: 0;
 }
.bignNav {
 	margin-top: -150px;
	width: 100%;		
	height: 280px;
}
.bigNav ul {

	margin-top: -60px;
}
.bigNav ul li {
	display: block;
	padding: 15px;
}
.mainBanner{
	height: 600px;
	width: 100%;
	margin-bottom: -100px;
	background: url('../img/wom.jpg');
}
.mainBanner img{
padding-left: 10%;
padding-top: 53%;
width: 80%;
}
.ad2,.ad4 {
display: none;
}
.container{
	width: 100%;
	height: 700px; 
	background-size: 100% 50%;
	background-attachment: local;
}
.container {
	background: url('../img/coco.jpg');
}
.ad {
	background: url('../img/mobilebg2.jpg');	
}
.ad3 {
	background: url('../img/mobilebg3.jpg');
	background-size: cover;
}
.mainBanner video {
   display: none;
   width: 100%;
}
.showcase li  {
	padding: 20px;
}
.bigNav {
color: #fff;
font-size: 20px;
font-family: 'Raleway', sans-serif;	
display: none;
}
.overlay {
	margin: 0 auto;
	width: 90%;
	border-radius: 0;
	background: rgba(0,0,0,0.5);
	height: 300px;
	margin-top: 150px;
}
.overlay h1 {
	font-size: 20px;
}
.footer{
	width: 100%;
	height: 100px;
}
.leftFooterLinks {
	display: none;
}
.rightFooterLinks {
	display: none;
}

}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
body {
width: 100%;
margin: 0 auto;
padding: 0;
 }
.bignNav {
 	margin-top: -150px;
	width: 100%;		
	height: 280px;
}
.bigNav ul {

	margin-top: -60px;
}
.bigNav ul li {
	display: block;
	padding: 15px;
}
.mainBanner{
	height: 600px;
	width: 100%;
	margin-bottom: -100px;
	background: url('../img/wom.jpg');
}
.mainBanner img{
padding-left: 10%;
padding-top: 53%;
width: 80%;
}
.ad2,.ad4 {
display: none;
}
.container{
	width: 100%;
	height: 600px; 
	background-size: 100% 50%;
	background-attachment: local;
}
.container {
	background: url('../img/coco.jpg') no-repeat;
}
.ad {
	background: url('../img/mobilebg2.jpg') no-repeat;	
}
.ad3 {
	background: url('../img/mobilebg3.jpg') no-repeat;
}
.mainBanner video {
   display: none;
   width: 100%;
}
.showcase li  {
	padding: 20px;
}
.bigNav {
color: #fff;
font-size: 20px;
font-family: 'Raleway', sans-serif;	
display: none;
}
.overlay {
	margin: 0 auto;
	width: 90%;
	border-radius: 0;
	background: rgba(0,0,0,0.5);
	height: 300px;
	margin-top: 150px;
}
.overlay h1 {
	font-size: 20px;
}
.footer{
	width: 100%;
	height: 100px;
}
.leftFooterLinks {
	display: none;
}
.rightFooterLinks {
	display: none;
}
 
 }
 #what {
 	width: 100%;
 	height: 800px;
 	background:url('../img/banner.mp4');
 	text-align: center;
 	background-size: cover;
 	margin-top: 100px;
 }
 #what video {
   position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%); 
    overflow: hidden !important;
}
.about {
	width: 100%;
	height: 700px;
	text-align: center;
	font-family: 'Raleway';
	font-size: 25px;
	color: #fff;
}
.about i {
	color: #fff;
}
.about h1 {
	padding-top: 20%;
	font-family: 'Merriweather Sans', sans-serif;
	}
.about p {
	padding-top: 10%;	
	background: rgba(0,0,0,0.5);
	line-height: 1.7;
}	
#s2{
	background: url('../img/chanel7.jpg') !important;
	background-size: cover;
	background-attachment: fixed !important; 
}

#s4{
	background: url('../img/chanel8.jpg') !important;
	background-size: contain;
	background-attachment: fixed !important; 
}

#s6{
	background: url('../img/chanel9.jpg') !important;
	background-size: contain;
	background-attachment: fixed !important; 
}
#s6 p {
	line-height: 1.4;
	font-size: 24px;
}
.formBanner form {
	font-family: 'Raleway';
	width: 70%;
	height: relative;	
	background: rgba(0,0,0,0.5);
	text-align: center;
	padding: 20px 0px;
	margin: -40px auto;
	border-radius: 10px;
}
.formBanner img {
	margin-top: -220px;
}
.formBanner div {
	margin: 10px 20px;
}
.formBanner input {
	width: 160px;
	height: 30px;
	transition: 1s;
	font-family: 'Raleway';
}
.formBanner input:hover {
	width: 360px;
	height: 30px;
	transition: 1s;
}
.formBanner textarea {
	width: 160px;
	height: 30px;
	transition: 1s;
	font-family: 'Raleway';
}
.formBanner textarea:hover {
	width: 360px;
	height: 100px;
	transition: 1s;
	font-family: 'Raleway';
}
.formBanner button {
	width: 60px;
	height: 40px;
	background: rgba(0,0,0,0.0);
	color: #fff;
	font-family: 'Raleway';
	transition: 1s;
}

.formBanner button:hover {
	background: rgba(0,0,0,0.5);
	transition: 1s;
	width: 100px;
	height: 60px;
}
.greet {
	text-align: center;
	font-family: 'Raleway',sans-serif;
	font-size: 36px;
}